<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | About</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is a toy app.
    </p>
  </body>
</html>