<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Contact</title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      Feel free to email us at <a href="mailto:ricwilvos@gmail.com">ricwilvos@gmail.com</a>
    </p>
  </body>
</html>