<% provide(:title, "Index") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Index</title>
  </head>
  <body>
    <h1>Index</h1>
    <p>
      Awesome Home page, huh?
    </p>
  </body>
</html>